<div class="dashboard-wrapper">
  <div class="container-fluid dashboard-content">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
          <h2 class="pageheader-title">Parametrage</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- ============================================================== -->
      <!-- Site -->
      <!-- ============================================================== -->
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="border-3 border-top border-top-primary">
          <div class="card">
            <div class="card-body">
              <div class="d-inline-block">
                <h2 class="text-muted">Sites</h2>
                <h5 class="mb-0">10,28,056</h5>
              </div>
              <a
                href="#"
                data-toggle="modal"
                data-toggle="modal"
                data-target="#siteModal"
              >
                <div
                  class="float-right icon-circle-medium icon-box-lg bg-info-light mt-1"
                >
                  <i class="fa fa-eye fa-fw fa-sm text-info"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- Entrepot -->
      <!-- ============================================================== -->
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="border-3 border-top border-top-primary">
          <div class="card">
            <div class="card-body">
              <div class="d-inline-block">
                <h2 class="text-muted">Entrepots</h2>
                <h5 class="mb-0">10,28,056</h5>
              </div>
              <a
                href="#"
                data-toggle="modal"
                data-toggle="modal"
                data-target="#warehouseModal"
              >
                <div
                  class="float-right icon-circle-medium icon-box-lg bg-info-light mt-1"
                >
                  <i class="fa fa-eye fa-fw fa-sm text-info"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- Compagny -->
      <!-- ============================================================== -->
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="border-3 border-top border-top-primary">
          <div class="card">
            <div class="card-body">
              <div class="d-inline-block">
                <h2 class="text-muted">Compagnies</h2>
                <h5 class="mb-0">10,28,056</h5>
              </div>
              <a
                href="#"
                data-toggle="modal"
                data-toggle="modal"
                data-target="#compagnyModal"
              >
                <div
                  class="float-right icon-circle-medium icon-box-lg bg-info-light mt-1"
                >
                  <i class="fa fa-eye fa-fw fa-sm text-info"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="border-3 border-top border-top-primary">
          <div class="card">
            <div class="card-body">
              <div class="d-inline-block">
                <h2 class="text-muted">Categories</h2>
                <h5 class="mb-0">10,28,056</h5>
              </div>
              <a
                href="#"
                data-toggle="modal"
                data-toggle="modal"
                data-target="#categoryModal"
              >
                <div
                  class="float-right icon-circle-medium icon-box-lg bg-info-light mt-1"
                >
                  <i class="fa fa-eye fa-fw fa-sm text-info"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="border-3 border-top border-top-primary">
          <div class="card">
            <div class="card-body">
              <div class="d-inline-block">
                <h2 class="text-muted">emplacement</h2>
                <h5 class="mb-0">10,28,056</h5>
              </div>
              <a
                href="#"
                data-toggle="modal"
                data-toggle="modal"
                data-target="#locationModal"
              >
                <div
                  class="float-right icon-circle-medium icon-box-lg bg-info-light mt-1"
                >
                  <i class="fa fa-eye fa-fw fa-sm text-info"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="border-3 border-top border-top-primary">
          <div class="card">
            <div class="card-body">
              <div class="d-inline-block">
                <h2 class="text-muted">Forunisseurs</h2>
                <h5 class="mb-0">10,28,056</h5>
              </div>
              <a                 href="#"
              data-toggle="modal"
              data-toggle="modal"
              data-target="#providerModal">
                <div
                  class="float-right icon-circle-medium icon-box-lg bg-info-light mt-1"
                >
                  <i class="fa fa-eye fa-fw fa-sm text-info"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="border-3 border-top border-top-primary">
          <div class="card">
            <div class="card-body">
              <div class="d-inline-block">
                <h2 class="text-muted">Imputation</h2>
                <h5 class="mb-0">10,28,056</h5>
              </div>
              <a                 href="#"
              data-toggle="modal"
              data-toggle="modal"
              data-target="#coastcenterModal">
                <div
                  class="float-right icon-circle-medium icon-box-lg bg-info-light mt-1"
                >
                  <i class="fa fa-eye fa-fw fa-sm text-info"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="border-3 border-top border-top-primary">
          <div class="card">
            <div class="card-body">
              <div class="d-inline-block">
                <h2 class="text-muted">Produits</h2>
                <h5 class="mb-0">10,28,056</h5>
              </div>
              <a href="#">
                <div
                  class="float-right icon-circle-medium icon-box-lg bg-info-light mt-1"
                >
                  <i class="fa fa-eye fa-fw fa-sm text-info"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Site modal -->
<!-- ============================================================== -->
<div
  class="modal fade"
  id="siteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="siteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document" id="modalSite">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="siteModalLabel">Sites</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="form-group mx-sm-3 mb-2">
              <label for="site_code" class="">Code</label>
              <input
                type="texte"
                class="form-control"
                id="site_code"
                name="site_code"
              />
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <label for="site_name" class="">Nom</label>
              <input
                type="texte"
                class="form-control"
                id="site_name"
                name="site_name"
              />
            </div>
            <div class="row" id="div_btn">
              <div class="form-group mx-sm-3 mb-2">
                <button
                  type="submit"
                  class="btn btn-primary form-contro"
                  id="btn_add_site"
                >
                  Ajouter
                </button>
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <button
                  type="submit"
                  class="btn btn-success form-contro"
                  id="btn_update_site"
                >
                  Modifier
                </button>
              </div>
            </div>
          </div>
        </form>
        <div class="">
          <div class="card">
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Code</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>
                      <a href="#">
                        <i class="fa fa-eye fa-fw text-warning"></i
                      ></a>
                      <a href="#" class="ml-2">
                        <i class="fa fa-trash fa-fw text-danger"></i
                      ></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Warehouse modal -->
<!-- ============================================================== -->
<div
  class="modal fade"
  id="warehouseModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="warehouseModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document" id="modalSite">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="warehouseModalLabel">Entrepot</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="form-group mx-sm-3 mb-2">
              <label for="warehouse_code" class="">Code</label>
              <input
                type="texte"
                class="form-control"
                id="warehouse_code"
                name="warehouse_code"
              />
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <label for="warehouse_name" class="">Nom</label>
              <input
                type="texte"
                class="form-control"
                id="warehouse_name"
                name="warehouse_name"
              />
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <label for="warehouse_name" class="">Site</label>
              <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>Choix...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="row" id="div_btn">
              <div class="form-group mx-sm-3 mb-2">
                <button type="submit" class="btn btn-primary form-contro">
                  Ajouter
                </button>
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <button type="submit" class="btn btn-success form-contro">
                  Modifier
                </button>
              </div>
            </div>
          </div>
        </form>
        <div class="">
          <div class="card">
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Code</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>
                      <a href="#">
                        <i class="fa fa-eye fa-fw text-warning"></i
                      ></a>
                      <a href="#" class="ml-2">
                        <i class="fa fa-trash fa-fw text-danger"></i
                      ></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Compagny modal -->
<!-- ============================================================== -->
<div
  class="modal fade"
  id="compagnyModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="compagnyModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document" id="compagnyModal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="compagnyModalLabel">Compagnie</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="form-group mx-sm-3 mb-2">
              <label for="compagny_code" class="">Code</label>
              <input
                type="texte"
                class="form-control"
                id="site_code"
                name="site_code"
              />
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <label for="compagny_name" class="">Nom</label>
              <input
                type="texte"
                class="form-control"
                id="site_name"
                name="site_name"
              />
            </div>
            <div class="row" id="div_btn">
              <div class="form-group mx-sm-3 mb-2">
                <button
                  type="submit"
                  class="btn btn-primary form-contro"
                  id="btn_add_site"
                >
                  Ajouter
                </button>
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <button
                  type="submit"
                  class="btn btn-success form-contro"
                  id="btn_update_site"
                >
                  Modifier
                </button>
              </div>
            </div>
          </div>
        </form>
        <div class="">
          <div class="card">
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Code</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>
                      <a href="#">
                        <i class="fa fa-eye fa-fw text-warning"></i
                      ></a>
                      <a href="#" class="ml-2">
                        <i class="fa fa-trash fa-fw text-danger"></i
                      ></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Category modal -->
<!-- ============================================================== -->
<div
  class="modal fade"
  id="categoryModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="categoryModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document" id="categoryModal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="categoryModalLabel">Categorie</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="form-group mx-sm-3 mb-2">
              <label for="category_code" class="">Code</label>
              <input
                type="texte"
                class="form-control"
                id="category_code"
                name="category_code"
              />
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <label for="category_name" class="">Nom</label>
              <input
                type="texte"
                class="form-control"
                id="category_name"
                name="category_name"
              />
            </div>
            <div class="row" id="div_btn">
              <div class="form-group mx-sm-3 mb-2">
                <button
                  type="submit"
                  class="btn btn-primary form-contro"
                  id="btn_add_category"
                >
                  Ajouter
                </button>
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <button
                  type="submit"
                  class="btn btn-success form-contro"
                  id="btn_update_category"
                >
                  Modifier
                </button>
              </div>
            </div>
          </div>
        </form>
        <div class="">
          <div class="card">
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Code</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>
                      <a href="#">
                        <i class="fa fa-eye fa-fw text-warning"></i
                      ></a>
                      <a href="#" class="ml-2">
                        <i class="fa fa-trash fa-fw text-danger"></i
                      ></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Location modal -->
<!-- ============================================================== -->
<div
  class="modal fade"
  id="locationModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="locationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document" id="locationModal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="locationModalLabel">Category</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="form-group mx-sm-3 mb-2">
              <label for="location_code" class="">Code</label>
              <input
                type="texte"
                class="form-control"
                id="location_code"
                name="location_code"
              />
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <label for="location_name" class="">Nom</label>
              <input
                type="texte"
                class="form-control"
                id="location_name"
                name="location_name"
              />
            </div>
            <div class="row" id="div_btn">
              <div class="form-group mx-sm-3 mb-2">
                <button
                  type="submit"
                  class="btn btn-primary form-contro"
                  id="btn_add_location"
                >
                  Ajouter
                </button>
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <button
                  type="submit"
                  class="btn btn-success form-contro"
                  id="btn_update_location"
                >
                  Modifier
                </button>
              </div>
            </div>
          </div>
        </form>
        <div class="">
          <div class="card">
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Code</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>
                      <a href="#">
                        <i class="fa fa-eye fa-fw text-warning"></i
                      ></a>
                      <a href="#" class="ml-2">
                        <i class="fa fa-trash fa-fw text-danger"></i
                      ></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Emplacement modal -->
<!-- ============================================================== -->
<div
  class="modal fade"
  id="emplacementModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="emplacementModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document" id="emplacementModal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="emplacementModalLabel">Emplacement</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="form-group mx-sm-3 mb-2">
              <label for="location_code" class="">Code</label>
              <input
                type="texte"
                class="form-control"
                id="location_code"
                name="location_code"
              />
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <label for="location_name" class="">Nom</label>
              <input
                type="texte"
                class="form-control"
                id="location_name"
                name="location_name"
              />
            </div>
            <div class="row" id="div_btn">
              <div class="form-group mx-sm-3 mb-2">
                <button type="submit" class="btn btn-primary form-contro">
                  Ajouter
                </button>
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <button type="submit" class="btn btn-success form-contro">
                  Modifier
                </button>
              </div>
            </div>
          </div>
        </form>
        <div class="">
          <div class="card">
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Code</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>
                      <a href="#">
                        <i class="fa fa-eye fa-fw text-warning"></i
                      ></a>
                      <a href="#" class="ml-2">
                        <i class="fa fa-trash fa-fw text-danger"></i
                      ></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Provider modal -->
<!-- ============================================================== -->
<div
  class="modal fade"
  id="providerModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="providerModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document" id="providerModalModal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="providerModalLabel">Fournisseur</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="form-group mx-sm-3 mb-2">
              <label for="location_code" class="">Code</label>
              <input
                type="texte"
                class="form-control"
                id="location_code"
                name="location_code"
              />
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <label for="location_name" class="">Nom</label>
              <input
                type="texte"
                class="form-control"
                id="location_name"
                name="location_name"
              />
            </div>
            <div class="row" id="div_btn">
              <div class="form-group mx-sm-3 mb-2">
                <button type="submit" class="btn btn-primary form-contro">
                  Ajouter
                </button>
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <button type="submit" class="btn btn-success form-contro">
                  Modifier
                </button>
              </div>
            </div>
          </div>
        </form>
        <div class="">
          <div class="card">
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Code</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>
                      <a href="#">
                        <i class="fa fa-eye fa-fw text-warning"></i
                      ></a>
                      <a href="#" class="ml-2">
                        <i class="fa fa-trash fa-fw text-danger"></i
                      ></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Coast center modal -->
<!-- ============================================================== -->
<div
  class="modal fade"
  id="coastcenterModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="coastcenterModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document" id="coastcenterModalModal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="coastcenterModalLabel">Imputation</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="form-group mx-sm-3 mb-2">
              <label for="location_code" class="">Code</label>
              <input
                type="texte"
                class="form-control"
                id="location_code"
                name="location_code"
              />
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <label for="location_name" class="">Nom</label>
              <input
                type="texte"
                class="form-control"
                id="location_name"
                name="location_name"
              />
            </div>
            <div class="row" id="div_btn">
              <div class="form-group mx-sm-3 mb-2">
                <button type="submit" class="btn btn-primary form-contro">
                  Ajouter
                </button>
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <button type="submit" class="btn btn-success form-contro">
                  Modifier
                </button>
              </div>
            </div>
          </div>
        </form>
        <div class="">
          <div class="card">
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Code</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>
                      <a href="#">
                        <i class="fa fa-eye fa-fw text-warning"></i
                      ></a>
                      <a href="#" class="ml-2">
                        <i class="fa fa-trash fa-fw text-danger"></i
                      ></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
